/* body {
    background: #d7c2ed url('../images/panelBackgroundPaper.webp') 0 0 no-repeat !important;
} */
.dashboardCounter svg {
    color: rgb(255, 87, 34);
}

.dashboardCounter p {
    font-weight: 300;
}

.dashboardCounter h5 {font-weight: normal;font-size: 27px;}

.dashboardCounter {
    padding: 2px 0px;
    border: none;
    border-top: 1px solid rgb(255, 87, 34);
}

.card.categoriesLavel h5 {
    padding: 4px 14px;
    color: rgb(255, 87, 34);
    font-weight: 300;
}

.card.IncomeChart h5 {
    padding: 4px 14px;
    color: rgb(255, 87, 34);
    font-weight: 300;
}