body{
    
}
.wrapper {
    background: url('../images//cover.jpg');
    padding: 143px 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
h2.textContentWrapper {
    color: white;
    font-weight: 200;
    font-size: 40px;
}
p.coverText {
    color: wheat;
    font-weight: 400;
}

.subscribeComponents input {
    padding: 6px 0px;
    border-radius: 7px;
    background: transparent;
    border-color: #f0ad4e;
    margin-right: 5px;
    border: 1px solid #f0ad4e;
}
::placeholder {
    color: rgb(204, 195, 195);
    opacity: 1;
    text-align: center;
  }
.subscribeComponents {
    float: right;
}
img.poster {
    width: 110px;
}
.posterText h2 {
    font-size: 22px;
}
.card.posterWrapper {
    padding: 24px 35px;
}
.singleContactBox.card.shadow {
    width: 80px;
    text-align: center;
    margin: auto;
    padding: 20px 0px;
}
.singleContactBox.card.shadow svg {
    font-size: 30px;
    width: auto;
}
.singleContact {
    text-align: center;
}
.getInTouch{
    background:#ddd;
}
h5.card-title.text-center {
    font-weight: 300;
}
.posterText h2 {
    font-weight: normal;
}
.posterText p {
    font-weight: 300;
}
.singleContact svg {
    color: rgb(255, 87, 34);
}
