body{
    
}
.wrapper {
    background: url('../images//cover.jpg');
    padding: 143px 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
h2.textContentWrapper {
    color: white;
    font-weight: 200;
    font-size: 40px;
}
p.coverText {
    color: wheat;
    font-weight: 400;
}

.subscribeComponents input {
    padding: 6px 0px;
    border-radius: 7px;
    background: transparent;
    border-color: #f0ad4e;
    margin-right: 5px;
}
::placeholder {
    color: white;
    opacity: 1;
  }
.subscribeComponents {
    float: right;
}