nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 10px 0px;
    border-bottom: 2px solid #dddddde0;
    box-shadow: 0px -2px 16px 0px black;
}
a.navbarLogo img {
    width: 140px;
}
nav.animated.fadeInDown.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #0d6c7f2e !important;
}
input.me-2.form-control {
    border: 1px solid #0dcaf0;
}