/* For user signup page */
.ImageCover {
    background: url("../images/accountCover.jpg") !important;
    background-attachment: local !important;
    /* background-position: 100%; */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 100% !important;
}
h4.accountHeading.text-center.mt-4 {
    font-weight: 300;
}

p.subHeading.text-center {
    font-weight: 200;
}

.otherDetails {
    font-weight: 300;
    margin-top: 15px;
}
.heading {
    margin: 36px 0px;
}
p.forgetPass.text-center.text-primary {
    margin-bottom: 50px;
}


/* For user signin Page */
.signinComponents {
    border: 2px dashed #ffc107 !important;
    padding: 10px 65px 70px 65px;
    margin-top: 90px;
}
p.haventAccount.text-center.text-primary {
    margin-top: 33px;
}

p.forgetPassForSignin.text-center.text-primary {
    margin-bottom: 60px;
}
button.form-control.btn.btn-warning.text-light.animated.fadeInUp.shadow.btn.btn-primary {
    background: #ffc107;
}
button.form-control.btn.btn-warning.text-light.animated.fadeInUp.shadow.btn.btn-primary:hover {
    background: darkcyan;
}